Quic.Config/DispatchRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Richard Lewis (NAB) -->
<!-- W3C Schema generated by XMLSpy v2014 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Axis">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="Integer" />
        <xs:element ref="Double" />
        <xs:element ref="Boolean" />
        <xs:element ref="Date" />
        <xs:element ref="String" />
        <xs:element ref="Axis" maxOccurs="unbounded" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grid">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GridAxis" maxOccurs="unbounded" />
        <xs:element ref="GridAxes" />
      </xs:sequence>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Double" />
            <xs:enumeration value="Integer" />
            <xs:enumeration value="Boolean" />
            <xs:enumeration value="Date" />
            <xs:enumeration value="String" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AxisName" type="xs:string" />
  <xs:element name="GridAxes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Axis" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GridAxis">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AxisName" />
        <xs:element ref="Length" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Map">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MapEntry" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Date" type="xs:dateTime" />
  <xs:element name="Double">
    <xs:complexType>
      <xs:attribute name="unit" type="xs:string" />
      <xs:attribute name="value" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="String" type="xs:string" />
  <xs:element name="Vector">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Variant" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Boolean" type="xs:boolean" />
  <xs:element name="Integer" type="xs:int" />
  <xs:element name="Length" type="xs:unsignedInt" />
  <xs:element name="Variant">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="Integer" />
        <xs:element ref="Boolean" />
        <xs:element ref="Vector" />
        <xs:element ref="String" />
        <xs:element ref="Double" />
        <xs:element ref="Date" />
        <xs:element ref="Map" />
        <xs:element ref="Grid" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Function">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Arguments" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="MapEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Variant" />
      </xs:sequence>
      <xs:attribute name="key" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Arguments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Variant" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Function" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Variant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>