Quic.Dispatch/samples/DispatchResult.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2014 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MapEntry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Double">
		<xs:complexType>
			<xs:attribute name="value" use="required" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Variant">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Double"/>
				<xs:element ref="Map"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="MapEntry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Variant"/>
			</xs:sequence>
			<xs:attribute name="key" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DispatchResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Variant"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
